<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--<context:load-time-weaver/>-->
    <aop:aspectj-autoproxy/>
    <bean class="test.test.AspectjTest"/>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <!--<property name="customEditors">
            <map>
                <entry key="java.util.Date" value="test.test.DatePropertyEditor"/>
            </map>
        </property>-->
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="test.test.DatePropertyEditorRegister"/>
            </list>
        </property>
    </bean>

    <bean id="beanTest" class="test.test.BeanTest"/>

    <bean id="userMapper" class="test.test.UserMapper">
        <property name="dataValue" value="2018-10-4"/>
    </bean>


    <bean id="bfpp" class="test.test.ObscenityRemovingBeanFactoryPostProcessor">
        <property name="obscenties">
            <set>
                <value>bollocks</value>
                <value>winky</value>
                <value>bum</value>
                <value>Microsoft</value>
            </set>
        </property>
    </bean>

    <bean class="test.test.TestEventListener"/>

    <bean class="test.test.MyInstantiationAwareBeanPostProcessor"/>

    <bean id="simpleBean" class="test.test.SimplePostProcessor">
        <property name="connectionString" value="bollocks"/>
        <property name="password" value="imaginecup"/>
        <property name="username" value="Microsoft"/>
    </bean>
</beans>